# Binary outputs
backend/bin/
bin/

# Databases & logs
*.db
*.db-journal
*.log

# Dependency directories
node_modules/

# Build outputs
frontend/dist/

# OS specific files
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

# Environment secrets
.env
